.autocomplete-suggestions {
	overflow: auto;
	overflow-y: hidden;
	background: #fff;
	border: 1px solid #ddd;
	width: 139px !important;
}

.autocomplete-suggestion {
	overflow: hidden;
}

.autocomplete-suggestion a {
	padding: 5px;
	display: block;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.tx-indexedsearch .tx-indexedsearch-noresults {
	text-align: left;
}