{namespace sz=Tx_SzIndexedSearch_ViewHelpers}

<f:layout name="Default" />

<f:for each="{results}" as="result">
	<f:if condition="{result.changeUidToPid}">
		<f:then>
			<f:link.page pageUid="{result.uid}"><sz:format.highlight>{result.title}</sz:format.highlight></f:link.page><br>
			{result.breadcrumb}<br>
		</f:then>
		<f:else>
			<f:link.page pageUid="{result.pid}"><sz:format.highlight>{result.title}</sz:format.highlight></f:link.page><br>
			{result.breadcrumb}<br>
		</f:else>
	</f:if>
</f:for>

