<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />
    <f:section name="main">
        <div class="inner quickfinder-listview">
            <div class="pre-title">
                <f:translate key="searchresultsfor">Search results for:</f:translate>
            </div>
            <h2 class="sword">"{searchString}"</h2>
            <span class="res-count">
                {f:if(condition:totalResults,then:totalResults,else:'0')}
                <f:translate key="results">results</f:translate>
            </span>
            <div class="results-drop">
                <f:if condition="{f:count(subject:{results})}">
                    <div id="section-bar">
                        <a href="#" data-display="all" class="active"><f:translate key="all-results">All results</f:translate>
                            <small>({f:if(condition:totalResults,then:totalResults,else:'0')})</small></a>
                        <f:for each="{results}" as="result" key="sectionName">
                            <a href="#" data-display="{sectionName}">
                                <f:translate
                                    key="LLL:EXT:tsbasetemplate/Resources/Private/Language/locallang.xlf:quicksearch.{sectionName}">
                                    [quicksearch.{sectionName}]
                                </f:translate>
                                <small>({resultCount.{sectionName}})</small>
                            </a>
                        </f:for>
                    </div>
                    <f:for each="{results}" as="result" key="sectionName">
                        <div class="{sectionName}-results results">
                            <f:variable name="capitalizedSectionName"
                                        value="{f:format.case(mode: 'capital', value: '{sectionName}')}"/>
                            <div class="results-list">
                                <f:render partial="result{capitalizedSectionName}" arguments="{results : result, searchString: searchString, displayIcon:1}"/>
                            </div>
                        </div>
                    </f:for>
                </f:if>
            </div>
            <div id="szquickfinder-paginator">
                <a href="#" data-page="-1" class="prev hidden"><f:format.raw><f:translate key="paginator.previous">&lt; Previous</f:translate></f:format.raw></a>
                <div class="pages"></div>
                <a href="#" data-page="+1" class="next hidden"><f:format.raw><f:translate key="paginator.next">Next &gt;</f:translate></f:format.raw></a>
            </div>
        </div>
    </f:section>
</html>
