<!--###SEARCH_FORM###-->
	<div class="block">
		<form class="search" action="###ACTION_URL###" name="tx_indexedsearch" id="tx_indexedsearch" method="post">
			<fieldset>
				<input type="hidden" name="tx_indexedsearch[_sections]" value="0" />
				<input type="hidden" name="tx_indexedsearch[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
				<input type="hidden" name="tx_indexedsearch[pointer]" id="tx_indexedsearch_pointer" value="0" />
				<!--###HIDDEN_FIELDS###-->
				<input type="hidden" name="###HIDDEN_FIELDNAME###" value="###HIDDEN_VALUE###" />
				<!--###HIDDEN_FIELDS###-->
				<span class="search-for">###FORM_SEARCHFOR###</span>
				<div class="area">
					<input type="text" id="tx-indexedsearch-searchbox-sword" name="tx_indexedsearch[sword]" value="###SWORD_VALUE###" class="tx-indexedsearch-searchbox-sword"/>
					<input type="submit" name="tx_indexedsearch[submit_button]" class="submit" value="###FORM_SUBMIT###" />
				</div>
				<!-- ###SEARCH_FORM_EXTENDED### begin -->
					<div class="tx-indexedsearch-ext">
						<div class="phonetic">
							<!-- ###SELECT_SEARCH_FOR### begin -->
							<div class="tx-indexedsearch-search-for">
								<label for="type">###FORM_MATCH###</label>
								<!-- ###SELECT_SEARCH_TYPE### begin -->
								<select name="tx_indexedsearch[type]" id="type" class="tx-indexedsearch-selectbox-type type">###SELECTBOX_TYPE_VALUES###</select>
								<!-- ###SELECT_SEARCH_TYPE### end -->
								<!-- ###SELECT_SEARCH_DEFOP### begin -->
								<select name="tx_indexedsearch[defOp]" class="tx-indexedsearch-selectbox-defop defop">###SELECTBOX_DEFOP_VALUES###</select>
								<!-- ###SELECT_SEARCH_DEFOP### end -->
							</div>
							<div class="clear"></div>
							<!-- ###SELECT_SEARCH_FOR### end -->
							<!-- ###SELECT_SEARCH_IN### begin -->
							<div class="tx-indexedsearch-search-in">
								<label for="media">###FORM_SEARCHIN###</label>
								<!-- ###SELECT_SEARCH_MEDIA### begin -->
								<select name="tx_indexedsearch[media]" id="media" class="tx-indexedsearch-selectbox-media media">###SELECTBOX_MEDIA_VALUES###</select>
								<!-- ###SELECT_SEARCH_MEDIA### end -->
								<!-- ###SELECT_SEARCH_LANG### begin -->
								<select name="tx_indexedsearch[lang]" class="tx-indexedsearch-selectbox-lang lang">###SELECTBOX_LANG_VALUES###</select>
								<!-- ###SELECT_SEARCH_LANG### end -->
							</div>
							<div class="clear"></div>
							<!-- ###SELECT_SEARCH_IN### end -->
							<!-- ###SELECT_SECTION### begin -->
							<div class="tx-indexedsearch-search-select-section">
								<label for="sections">###FORM_FROMSECTION###</label>
								<select name="tx_indexedsearch[sections]" id="sections" class="tx-indexedsearch-selectbox-sections sections">###SELECTBOX_SECTIONS_VALUES###</select>
							</div>
							<div class="clear"></div>
							<!-- ###SELECT_SECTION### end -->
							<!-- ###SELECT_FREEINDEXUID### begin -->
							<div class="tx-indexedsearch-search-freeindexuid">
								<label for="freeIndexUid">###FORM_FREEINDEXUID###</label>
								<select name="tx_indexedsearch[freeIndexUid]" id="freeIndexUid" class="tx-indexedsearch-selectbox-freeIndexUid freeIndexUid">###SELECTBOX_FREEINDEXUIDS_VALUES###</select>
							</div>
							<div class="clear"></div>
							<!-- ###SELECT_FREEINDEXUID### end -->
							<!-- ###SELECT_ORDER### begin -->
							<div class="tx-indexedsearch-search-select-order">
								<label for="order">###FORM_ORDERBY###</label>
								<select name="tx_indexedsearch[order]" id="order" class="tx-indexedsearch-selectbox-order order">###SELECTBOX_ORDER_VALUES###</select>
								<select name="tx_indexedsearch[desc]" class="tx-indexedsearch-selectbox-desc desc">###SELECTBOX_DESC_VALUES###</select>
							</div>
							<div class="clear"></div>
							<!-- ###SELECT_ORDER### end -->
							<!-- ###SELECT_RESULTS### begin -->
							<div class="tx-indexedsearch-search-select-results">
								<label for="results">###FORM_ATATIME###</label>
								<select name="tx_indexedsearch[results]" id="results" class="tx-indexedsearch-selectbox-results results">###SELECTBOX_RESULTS_VALUES###</select>
							</div>
							<div class="clear"></div>
							<!-- ###SELECT_RESULTS### end -->
						</div>
					</div>
				<!-- ###SEARCH_FORM_EXTENDED### end -->
			</fieldset>
		</form>
	</div>
<!--###SEARCH_FORM###-->


<!--###RESULT_OUTPUT###-->
	<div class="articles-list">
		<!--###HEADER_ROW###-->
		<span class="tx-indexedsearch-icon icon">###ICON###</span>
		<h3>###TITLE###</h3>
		<!--###HEADER_ROW###-->
		<!--###ROW_LONG###-->
		<p> ###DESCRIPTION###</p>
		<!--###ROW_LONG###-->

		<!--###ROW_SHORT###-->
		<div class="description">###DESCRIPTION###</div>
		<!--###ROW_SHORT###-->

		<!--###ROW_SUB###-->
		<div class="description">###TEXT_ROW_SUB###</div>
		<!--###ROW_SUB###-->
	</div>
<!--###RESULT_OUTPUT###-->
